<a href="https://colab.research.google.com/github/Akashdeep9868/pythonpractice/blob/main/COMPLETE_PYTHON_PRACTICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s1="Python"
s2="python100"
s3="Python"
print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())

True
True
True

In [ ]:
s1="i got {n:.2f} in python."
print(s1.format(n=68))

i got 68.00 in python.

In [ ]:
s1="I love python,python is one of the most used language in data science"
result=s1.index("python")
print(result)

7

In [ ]:
s1="Python"
s2="python100"
s3="Python"
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())

True
False
True

In [ ]:
s1="Python"
s2="python100"
s3="1000"
print(s1.isdigit())
print(s2.isdigit())
print(s3.isdigit())

False
False
True

In [ ]:
s1="Python"
s2="python100"
s3="1000"
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())

False
False
True

In [ ]:
s1="PYTHON"
print(s1.islower())

False

In [ ]:
s1="PYTHON"
print(s1.lower())

In [ ]:
s1="Welcome"
print(s1.istitle())

True

In [ ]:
s1="WWELCOMER"
print(s1.isupper())

True

In [ ]:
list1=['Python','python100','1000']
print(";".join(list1))

Python;python100;1000

In [ ]:
s1="       Python"
result=s1.lstrip()
print(result)

Python

In [ ]:
s1="       Python        "
result=s1.rstrip()
print(result)

       Python

In [ ]:
a=5
print("This is the value of a", a)

This is the value of a 5

In [ ]:
name= input("Enter the name :")
print(name  )

Enter the name :akash
akash

In [ ]:
name=input("Enter the name")
print("Hello", name)

Enter the nameakash
Hello akash

In [ ]:
num=int(input("Enter the number"))
print(type(num))
sum=num+10
print(sum)

Enter the number6
<class 'int'>
16

In [ ]:
str1="Hello Learners"
a,b=str1.split(' ')
print(a)
print(b)

Hello
Learners

In [ ]:
a,b,c=map(int,input("Enter three number").split())
print(a)
print(b)
print(c)

Enter three number4 5 6
4
5
6

In [ ]:
x,y=input("Enter full name:").split()
print("First name:",x)
print("Last name:",y)
print("full name :",x+" "+y)

Enter full name:akash deep
First name: akash
Last name: deep
full name : akash deep

In [ ]:
print("# "*10)

##########

In [ ]:
name=input("Enter your name")
print("hello",name,"How are you")

Enter your nameakash
hello akash How are you

In [ ]:
name=input("Enter your name")
print(f'hello {name} !How are you')

Enter your namealasjd
hello alasjd !How are you

In [ ]:
x=5
y=6
print(f'the value of x is {x}')
print(f'the value of y is {y}')
print('the value of x is {} and y is {}'.format(x,y))

the value of x is 5
the value of y is 6
the value of x is 5 and y is 6

In [ ]:
print ('I love {0} and {1}'.format('python','programming'))
print ('I love {1} and {0}'.format('python','programming'))

I love python and programming
I love programming and python

In [ ]:
print ('hello {name}, welcome to the couse {course}'.format(course='Python',name='Akash'))

hello Akash, welcome to the couse Python

In [ ]:
num =int(input("Please enter number:"))
sum=num+100
print(sum)

Please enter number:10
110

In [ ]:
x=10.1928293
print("the value of x is'%.2f" %x)

the value of x is'10.19

In [ ]:
num1=5
print("the result of that number is ",num1*5)

the result of that number is  25

In [ ]:
student= 1000
print("this course is having "+str(student)+" student")

this course is having 1000 student

Maths library

In [ ]:
import math
print(math.e)

2.718281828459045

In [ ]:
print(math.pi)

3.141592653589793

In [ ]:
r=2

pi_value=math.pi

print(pi_value*r*r)

12.566370614359172

In [ ]:
print(math.tau)

6.283185307179586

In [ ]:
print(math.inf)
print(-math.inf)

inf
-inf

In [ ]:
print(math.nan)

nan

In [ ]:
a=21.38

val=math.ceil(a)
print(val)\



val=math.floor(a)
print(val)

22
21

In [ ]:
a=6

fac=math.factorial(a)
print("the factorial of a is :",fac)

the factorial of a is : 720

In [ ]:
a=35
b=15

gdf_val=math.gcd(b,a)
print("greatest common division factor is :",gdf_val)

greatest division factor is : 5

In [ ]:
a=-6.9
b=10

abs_val=abs(a)
print("the absalute value of a is :",abs_val)

the absalute value of a is : 6.9

In [ ]:
var_int=4
var_neg_int=-3
var_float=15.44

print(math.exp(var_int))

print(math.exp(var_neg_int))

print(math.exp(var_float))

54.598150033144236
0.049787068367863944
5075826.871676405

In [ ]:
val=pow(2,5)

print("the power of 2**5 is :",val)

the power of 2**5 is : 32

In [ ]:
print(math.log(4,5))

0.8613531161467861

In [ ]:
print(math.log2(64))
print(math.log10(1000))

6.0
3.0

In [ ]:
print(math.sqrt(4))

2.0

In [ ]:
a=math.pi/4

print(math.sin(a))

print(math.cos(a))

print(math.tan(a))

0.7071067811865475
0.7071067811865476
0.9999999999999999

In [ ]:
print(math.isinf(math.pi))
print(math.isinf(math.e))
print(math.isinf(float('inf')))

False
False
True

In [ ]:
a=1000.5648

print(math.trunc(a))

1000

In [ ]:
math.exp(2)

7.38905609893065

Python operator

In [ ]:
x=5
x+=3
print(x)

8

In [ ]:
x-=3
print(x)

5

In [ ]:
x/=3
print(x)

1.6666666666666667

In [ ]:
x=15
x//=3
print(x)

5

In [ ]:
pow=2**3
print(pow)

8

In [ ]:
x=10
y=15
z=10
print(x>y)
print(x<y)
print(x==z)
print(x<=y)
print(y>=x)

False
True
True
True
True

In [ ]:
x=10
y=20

print (x>15 or y<15)

False

In [ ]:
print(x is not y)

True

In [ ]:
x=1
y=[1,2,3]
print(x not in y)

False

In [ ]:
x=2
y=3

print(x&y)
print(x|y)
print(x^y)
print(~x)
print(x<<1)
print(y>>1)

2
3
1
-3
4
1

List in Python

In [ ]:
list=[1,2,3,[4,5],"hey","john",8.9]

In [ ]:
print(list)

[1, 2, 3, [4, 5], 'hey', 'john', 8.9]

In [ ]:
print(list[2])

3

In [ ]:
print(list[3][0])

4

In [ ]:
print(len(list))

7

In [ ]:
list3=(1,2,3,4)

print(list3)

(1, 2, 3, 4)

In [ ]:
list1=[]
print(list1)

print(type(list1))

[]
<class 'list'>

In [ ]:
List4=[1,[4,5],6,4.5,[4,5]]

In [ ]:
print(List4[1][1])

5

In [ ]:
print(len(List4))

5